<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: #c5e9b4;
    }

    .content {
        flex: 1;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #333;
        transition: color 0.3s ease;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #666;
    }

    .navbar-light .navbar-brand {
        color: #333;
        font-weight: bold;
    }

    .input-group-text {
        width: 50px;
        background-color: #c5e9b4;
        color: #333;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .input-group-text:hover {
        background-color: #9dd57c;
    }

    .btn-outline-secondary {
        color: #333;
        border-color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .btn-outline-secondary:hover {
        background-color: #333;
        color: #fff;
    }

    footer {
        background-color: #f8f9fa;
        color: #333;
        padding: 20px 0;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
</style>